@model List<GamesShop.Models.OperatingSystem>

@Html.ValidationMessageFor(model => model[0].Name, "", new { @class = "col-12 text-danger" })

<div class="col-12">
    <a class="btn btn-primary col-12 mt-5" data-ajax="true" data-ajax-loading="#Loading" data-ajax-mode="replace" data-ajax-success="PopUpShow();" data-ajax-update="#PopUpContent" href="/OperatingSystem/Input/-1">Додати</a>
</div>

<table class="table table-dark text-center">
    <tr>
        <th>Операційна система</th>
        <th>Дії</th>
    </tr>
    @foreach (var Item in Model)
    {
        <tr>
            <td>@Item.Name</td>
            <td width="20%">
                <a data-ajax="true" data-ajax-loading="#Loading" data-ajax-mode="replace" data-ajax-success="PopUpShow();" data-ajax-update="#PopUpContent" href="/OperatingSystem/Input/@Item.Id" class="btn btn-primary col-12 mt-1">Редагувати</a>
                <a data-ajax="true" data-ajax-loading="#Loading" data-ajax-mode="replace" data-ajax-success="PopUpShow();" data-ajax-update="#PopUpContent" href="/OperatingSystem/Delete/@Item.Id" class="btn btn-primary col-12 mt-1">Видалити</a>
            </td>
        </tr>
    }

</table>


