<tr>
    <td class=" text-center">
        <img src="https://media.sproutsocial.com/uploads/2017/02/10x-featured-social-media-image-size.png" width="200"/>
    </td>
    <td>
        <input type="file" id="FileInput" name="Files" class="form-control" onchange="FileUpd(this);" />
    </td>
    <td width="20%">
        <button class="btn btn-danger col-12" onclick="$(this).parent().parent().remove();">Видалити</button>
    </td>
</tr>
