<tr>
    <td class="mb-3">
        <input type="text" class="form-control" name="Keys"/>
    </td>
    <td width="20%">
        <button class="btn btn-danger col-12" onclick="$(this).parent().parent().remove();">Видалити</button>
    </td>
</tr>
