@model List<GamesShop.Models.OperatingSystem>
<tr>
    <td class="mb-3">
        <select name="OperatingSystems" class="form-select">
            <option selected value="-1">- - - -</option>
            @foreach (var Item in Model)
            {
                <option selected value="@Item.Id">@Item.Name</option>
            }
        </select>
    </td>
    <td width="20%">
        <button class="btn btn-danger col-12" onclick="$(this).parent().parent().remove();">Видалити</button>
    </td>
</tr>
