
@{
    ViewBag.Title = "Forbidden";
}

<div class="row">
    <div class="col-9 mt-5 bg-dark p-2 pt-5 pb-5 text-center" style="margin-left:40px; color: white; margin-left: auto; margin-right: auto;">
        <h3 style="color: #f3ca20;">403</h3>
        <h5>Упс, здається щось пішло не так.</h5>
    </div>
</div>


