@model GamesShop.Models.Category

@using (Ajax.BeginForm("Delete", "Category", new AjaxOptions { HttpMethod = "Post", OnSuccess = "PopUpHide(); Upd('/Manager/Categories');", UpdateTargetId = "PopUpContent" }, new { @class = "col-12 mt-5 container" }))
{

    @Html.HiddenFor(m => m.Id)
    <div class="row mt-5">
        <div class="mb-3 col-12">
            <p>Ви дійсно бажаєте видалити категорію "@Model.CategoryName"</p>
        </div>

        <div class="mb-3 col-6">
            <a class="btn btn-primary col-12" onclick="PopUpHide();">Ні</a>
        </div>
        <div class="mb-3 col-6">
            <input value="Так" type="submit" class="btn btn-danger col-12" />
        </div>
    </div>
}

